#load_core_resources
#load("sdmxdatacube/resources")
##
## Hello Velocity !
#set( $moduleUri = "$baseUri/sdmxdatacube")
##
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

    <title>#i18n('sdmxdatacube.title') - Datalift</title>

    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">

    #css_links
    <link rel="stylesheet" href="${moduleUri}/static/css/bootstrap.min.css">
    <link rel="stylesheet" href="${moduleUri}/static/css/bootstrap-responsive.min.css">
  </head>
  <body>
    #banner
    <div class="ui-widget-content" id="workspace">

      <h3 class="ui-widget-header dl-widget-header">
        #i18n('project.label' ${it.title}) &mdash; #i18n('sdmxdatacube.title')
      </h3>

      <a href="#" class="button">Hello #i18n('sdmxdatacube.title') !</a>
      <br>

    </div>
    <script type="text/javascript" language="Javascript" src="${moduleUri}/static/js/jquery-1.9.0.min.js"></script>
    <script type="text/javascript" language="Javascript" src="${moduleUri}/static/js/bootstrap.min.js"></script>

  </body>
</html>
