footer
  p &copy; Datalift 2013
    span  &middot; Part of&nbsp;
       a(href='https://github.com/Thibau/datalift-sdmxdatacube/') https://github.com/Thibau/datalift-sdmxdatacube/
    span  &middot; Built with&nbsp;
       a(href='https://www.github.com/mattyod/matic') Matic.js


