h1 {
  font-size:100%;
  display:inline-block;
  vertical-align:middle;
  padding:0;
  margin:0;
  text-transform : uppercase;
}

h1 small {
  font-size : inherit;
  text-transform : none;
}

h2 {
  font-size: 160%;
}

h2 small {
  font-size: inherit;
}

h1 i, h2 i {
  position:relative;
  top:5px;
}

.navbar .brand {
  margin:0;
  padding:0;
}

.nav-collapse {
  float:right;
}

.nav, .navbar-text {
  display:inline-block;
}


/*
 * Footer
 * ---------------------------------------------------------------------
 */

footer {
  min-height: 200px;
}

footer .container {
  margin-top:10px;
  text-align:center;
}
