doctype html
head
  include templates/includes/css
html
  body
    article
      include templates/includes/header
      span.container {
      include templates/includes/properties
      span.container }
      include templates/includes/footer
